@import '../../bower_components/materialize/sass/materialize';
@import '../../bower_components/angular-materialize/css/style.css';

body {
	background: url(../img/bg.png);
}

.brand-logo { margin-left: 10px; }

.content { padding-top: 40px; }

#login-form {
	background: #FFF;
	padding: 20px;
	width: 400px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

$sidebarwidth: 180px;
#sidebar {
	background: $primary-color;
	position: fixed;
	left: 0;
	width: $sidebarwidth;
	height: 100%;

	.profile-info {
		padding: 20px;
		img {
			width: 100%;
		}
		color: #FFF;
	}

	.links {
		a {
			color: #FFF;
			display: block;
			padding: 10px;
			position: relative;
			&:hover, &.active {
				background: color('blue', 'lighten-4');
				color: $primary-color;
			}
			 &.active {
			 	background: color('blue', 'darken-4');
			 }
		}
	}
}

#content {
	margin-left: $sidebarwidth;
	padding: 20px;
	.content-title {
		margin-top: 0;
	}
}