<!-- Latest Courses -->
<div class="cards">
	<h1 class="cards-header">Latest Courses</h1>
	<div class="cards-content">
		<div class="row">
			<div ng-repeat="course in courses | limitTo:4" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="cards cards-primary">
					<h1 class="cards-header text-capitalize" ng-bind="course.course_name"></h1>
					<img ng-src="{{ course.course_image }}">
					<div class="cards-content">
						<small class="min-desc" ng-bind="course.course_description"></small>
					</div>
					<div class="cards-footer">
						<a href="#" class="btn btn-info btn-sm">Enroll This Course</a>
						<a href="#" class="btn btn-default btn-sm">View Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="cards cards-primary">
			<h1 class="cards-header">Skills Profeciency</h1>
			<div class="cards-content">
				<!-- <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio commodi animi, at magni molestias ex in a corrupti.</small> -->
				<canvas id="bar" class="chart chart-bar" data="skill_chart.data" labels="skill_chart.labels"></canvas>
				<a class="btn btn-default btn-block">Start Skills Assessment</a>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="cards cards-dark">
			<h1 class="cards-header">Assessment Report</h1>
			<div class="cards-content">
				<!-- <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio commodi animi, at magni molestias ex in a corrupti.</small> -->
				<canvas id="doughnut" class="chart chart-doughnut" data="ass.data" labels="ass.labels"></canvas>
				<a class="btn btn-default btn-block">View Full Report</a>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="cards cards-default">
			<h1 class="cards-header">Score Card</h1>
			<div class="cards-content">
				<!-- <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio commodi animi, at magni molestias ex in a corrupti.</small> -->
				<canvas id="radar" class="chart chart-radar" data="score_card.data" labels="score_card.labels"></canvas>
				<a class="btn btn-default btn-block">View Score Card</a>
			</div>
		</div>
	</div>
</div>

<div class="cards">
	<h1 class="cards-header">Course Application Summary</h1>
	<div class="cards-content">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th ng-repeat="field in summary.fields" ng-click="sort(field)">
							{{ field | labelCase }} 
							<i ng-show="sort.field == field && !sort.order" class="icon icon-chevron-small-down"></i>
							<i ng-show="sort.field == field && sort.order" class="icon icon-chevron-small-up"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in summary.data | orderBy:sort.field : sort.order">
						<td ng-repeat="field in summary.fields" class="row-{{ field }}">
							<span ng-switch="field">
								<span ng-switch-when="date">{{ date(item[field]) }}</span>
								<span ng-switch-when="status" class="status-{{ item[field] }}">{{ item[field] }}</span>
								<span ng-switch-default>{{ item[field] }}</span>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>