<h3 class="content-title blue-text"><i class="mdi-navigation-apps"></i> Dashboard</h3>
<hr>
<div class="row">

	<!-- CARDS -->
	<div class="col s12 m6">
		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Skill Assessment</span>
					<p>
						I am a very simple card. I am good at containing small bits of information.
						I am convenient because I require little markup to use effectively.
					</p>
			</div>
			<div class="card-action">
				<a href="#" class="blue-text">Start My Assessment <i class="mdi-navigation-arrow-forward"></i></a>
			</div>
		</div>
	</div>

	<!-- CARDS -->
	<div class="col s12 m6">
		<div class="card">
			<div class="card-content">
				<span class="card-title green-text">Assessment Report</span>
					<p>
						I am a very simple card. I am good at containing small bits of information.
						I am convenient because I require little markup to use effectively.
					</p>
			</div>
			<div class="card-action">
				<a href="#" class="green-text">View My Report <i class="mdi-navigation-arrow-forward"></i></a>
			</div>
		</div>
	</div>

	<!-- CARDS -->
	<div class="col s12 m12">
		<div class="card">
			<div class="card-content">
				<span class="card-title pink-text">Course Application Summary</span>
				<table class="hoverable">
					<thead>
						<tr>
							<th ng-repeat="field in summary.fields" ng-click="sort(field)">
								<i ng-show="sort.field == field && !sort.order" class="mdi-hardware-keyboard-arrow-down"></i>
								<i ng-show="sort.field == field && sort.order" class="mdi-hardware-keyboard-arrow-up"></i>
								{{ field | labelCase }}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in summary.data | orderBy:sort.field : sort.order">
							<td ng-repeat="field in summary.fields">
								<span ng-switch="field">
									<span ng-switch-when="date">{{ date(item[field]) }}</span>
									<span ng-switch-when="status" ng-class="status-{{ item[field] }}">{{ item[field] }}</span>
									<span ng-switch-default>{{ item[field] }}</span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-action">
				<a href="#" class="pink-text">View All <i class="mdi-navigation-arrow-forward"></i></a>
			</div>
		</div>
	</div>
</div>