<h3 class="content-title blue-text"><i class="mdi-action-account-circle"></i> Profile</h3>

<div class="row" ng-if="showTabs">
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3"><a class="active" href="#profile_background">Background</a></li>
            <li class="tab col s3"><a href="#profile_company">Company</a></li>
            <li class="tab col s3"><a href="#profile_education">Education</a></li>
            <li class="tab col s3"><a href="#profile_skills">Skills</a></li>
            <li class="tab col s3"><a href="#profile_experience">Experience</a></li>
            <li class="tab col s3"><a href="#profile_interest">Interest</a></li>
        </ul>
    </div>
    <div id="profile_background" class="col s12">Background</div>
    <div id="profile_company" class="col s12">Company</div>
    <div id="profile_education" class="col s12">Education</div>
    <div id="profile_skills" class="col s12">Skills</div>
    <div id="profile_experience" class="col s12">Experience</div>
    <div id="profile_interest" class="col s12">Interest</div>
</div>