<tabset justified="true">
    <tab heading="Background">
        <section class="tab-contents">
            <div class="row">
                <div class="col-md-4">
                    <form-field record="data.background" field="fullname" fieldtype="text" required="true" label="Full Name"></form-field>
                    <form-field record="data.background" field="ic_number" fieldtype="text" required="true" label="IC Number"></form-field>
                    <form-field record="data.background" field="email" fieldtype="text" required="true" label="Email Address"></form-field>
                    <form-field record="data.background" field="phone" fieldtype="text" required="true" label="Phone Number"></form-field>
                    <form-field record="data.background" field="gender" fieldtype="dropdown" required="true" label="Gender" options="selections.gender"></form-field>
                </div>
                <div class="col-md-4">
                    <form-field record="data.background" field="address" fieldtype="text" required="true" label="Address"></form-field>
                    <form-field record="data.background" field="postcode" fieldtype="text" required="true" label="Postcode"></form-field>
                    <form-field record="data.background" field="state" fieldtype="text" required="true" label="State"></form-field>
                    <form-field record="data.background" field="country" fieldtype="text" required="true" label="Country"></form-field>
                    <form-field record="data.background" field="dob" fieldtype="date" required="true" label="Date Of Birth"></form-field>
                </div>
            </div>
        </section>
    </tab>
    <tab heading="Company">Company Form</tab>
    <tab heading="Education">Education Form</tab>
    <tab heading="Skills">Skills Form</tab>
    <tab heading="Experience">Experience Form</tab>
</tabset>